*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* ================
common css start
=================== */
.container{
    width: 1140px;
    margin: 0 auto;
}
.box{
    display: flex;
    
}

/* ================
common css end
=================== */
/* ================
navber css start
=================== */
nav{
    background: red;
    padding: 14px 0px;
    width: 100%;
}

nav .box{
    padding: 1px 0px;
    align-items: center;
}
.logo_part{
    width: 40%;
}

.menu_part{
    width: 50%;
}
.ul{
    display: flex;
    column-gap: 38px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 2px 3px;
    list-style: none;
}
.menu_part li{
    padding: 2px 4px;
    transition: 0.5s;
    border: 2px solid transparent;
    cursor: pointer;
}
.menu_part li:hover{
    background-color: rgba(57, 117, 190, 0.785);
    border: 2px solid rgb(0, 173, 247);
}

.button_part{
    width: 10%;
    cursor: pointer;
}
.button_part button{
    border: 2px solid white;
    padding: 10px 20px;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.button_part button:hover{
    background-color: rgb(239, 235, 28);
}
/* ================
navber css end
=================== */
/* ================
banner css start
=================== */
.banner{
    
    background-image: url('./images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}
.banner_part{
    padding: 260px 0px 340px 0;
}
.banner_part h2{
    font-size: 64px;
    font-weight: 700;
    color: white;
    width: 843px;
    padding-bottom: 30px;

}
.banner_part button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 14px 40px;
    background: red;
    border: 0;
    border: 1px solid transparent;
    transition: .4s;
    cursor: pointer;
}
.banner_part button:hover{
    background: transparent;
    border-color: red;

}
/* ================
banner css end
=================== */
/* ================
Country css start
=================== */
.country{
    padding-top: 70px;
}
.country .container{
    padding-bottom: 100px;
}
.country .box{
    align-items: center;

}
.country .left{
    width: 40%;
    
}
.country .left h3{
    font-size: 48px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    width: 290px;
    line-height: 72px;

    
}

.country .right{
    width: 60%;
    
}
.country .right p{
    font-size: 18px;
    font-weight: 500;
    color: #6C6C6C;
    width: 650px;
    line-height: 24px;

    
}
.country .gellry_sec{
    width: 100%;
    justify-content: space-between;
}
.box_img{
    width: 24%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_img img{
    width: 100%;
    height: 100%;   
}
/* ================
Country css end
=================== */
